<table style="width:600" border="1" cellpadding="3" cellspacing="3">
    <tr>
        <th style="width:200">User</th>
        <th style="width:200">Friends of the user</th>
        <th style="width:200">About user</th>
    </tr>

    {% for item in queryset %}

        <tr align="center">

            <td>{{item.user}}</td>

            <td>
                {% for name in item.friends.all %}
                {{name}}
                {% endfor %}
            </td>

            <td>{{item.bio}}</td>

        </tr>

    {% endfor %}

</table>